/* Color Theme Swatches in Hex 
.pastel_colors-purple-hex { color: #B5ACFE; }
.pastel_colors-pink-hex { color: #F5BCF3; }
.pastel_colors-yellow-hex { color: #FFF8A6; }
.pastel_colors-green-hex { color: #B7F6D3; }
.pastel_colors-blue-hex { color: #8DC8DA; }

/* Color Theme Swatches in RGBA 
.pastel_colors-purple-rgba { color: rgba(181, 172, 254, 1); }
.pastel_colors-pink-rgba { color: rgba(245, 188, 243, 1); }
.pastel_colors-yellow-rgba { color: rgba(255, 248, 166, 1); }
.pastel_colors-green-rgba { color: rgba(183, 246, 211, 1); }
.pastel_colors-blue-rgba { color: rgba(141, 200, 218, 1); }
*/

body {
	background: #8DC8DA;
	font-family: sans-serif;
}

main {
	background: #FFFFFF;
	width: 80%;
	margin: 10% auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	padding: 10px 30px 80px;
}

input {
  display: none;
}

section {
  clear: both;
  padding-top: 10px;
  animation: fadein .8s;
  display: none;
}

label {
	display:inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	display: block;
	float: left;
	padding: 10px 30px;
	cursor: pointer;
	color: #333333;
}

label:hover {
	background: #F5BCF3;
}

#jlpt-5:checked ~ .content-panels #jlpt5-content,
#jlpt-4:checked ~ .content-panels #jlpt4-content,
#jlpt-3:checked ~ .content-panels #jlpt3-content,
#jlpt-2:checked ~ .content-panels #jlpt2-content,
#jlpt-1:checked ~ .content-panels #jlpt1-content {
  display: block;
  margin: auto;
}

#jlpt-5:checked ~ .tabs #level-5,
#jlpt-4:checked ~ .tabs #level-4,
#jlpt-3:checked ~ .tabs #level-3,
#jlpt-2:checked ~ .tabs #level-2,
#jlpt-1:checked ~ .tabs #level-1 {
  border-bottom: 2px solid #000000;
	color: #1d1d1d;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
	color: #37403E;
	margin: 1em 0 0 0;
}x

.subtitle {
	font-size: 1.5em;
	color: #3CB4CF;
	margin: 0 0 0.5em 0;
}